{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "import/no-unresolved": 0,
    "global-require": 1,
    "space-before-function-paren": [2, "never"],
    "arrow-body-style": [0, "as-needed"],
    "no-unneeded-ternary": 0,
    "max-len": 0,
    "react/prop-types": 0,
    "object-curly-spacing": [2, "never"],
    "no-extra-parens": 0,
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
