// http://eslint.org/docs/rules
{
  "extends": "stoplight",

  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": 0,
    "comma-dangle": 0,
    "prefer-template": 0,
    "func-names": 0,
    "eqeqeq": 0,
    "prefer-arrow-callback": 0,
    "no-var": 0,
    "vars-on-top": 0,
    "no-param-reassign": 0,
    "no-empty":0,
    "block-scoped-var":0,
    "no-prototype-builtins":0,
    "spaced-comment":0,
    "no-redeclare":0,
    "space-before-blocks":0,
    "no-tabs": 0,
    "keyword-spacing":0,
    "one-var":0,
    "no-continue":0,
    "padded-blocks":0,
    "default-case":0,
    "no-loop-func":0,
    "space-infix-ops":0,
    "space-in-parens":0,
    "quote-props":0,
    "no-shadow":0,
    "one-var-declaration-per-line":0,
    "space-before-function-paren":0,
    "no-unused-vars":0,
    "no-use-before-define":0,
    "no-mixed-operators":0,
    "key-spacing":0,
    "dot-notation":0,
    "brace-style":0,
    "no-trailing-spaces":0,
    "array-callback-return":0,
    "no-useless-escape":0,
    "no-multi-spaces":0,
    "no-mixed-spaces-and-tabs":0
  }
}
