{
  "x-basePath": "/api/{version}",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "Error": {
      "title": "Error",
      "$schema": "http://json-schema.org/schema",
      "description": "Error details",
      "type": "object"
    },
    "Foo": {
      "title": "Foo",
      "$schema": "http://json-schema.org/schema",
      "description": "Foo details",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "ownerName": {
          "type": "string"
        }
      },
      "required": [
        "id",
        "name"
      ],
      "type": "object"
    }
  },
  "host": "rest-api.baeldung.com",
  "info": {
    "description": "",
    "title": "Baeldung Foo REST Services API",
    "version": "v1"
  },
  "paths": {
    "/foos": {
      "get": {
        "description": "List all Foos matching query criteria, if provided; otherwise list all Foos",
        "operationId": "GET_foos",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "ownerName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Foos.json"
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/Foo"
              },
              "type": "array"
            }
          }
        }
      },
      "post": {
        "description": "Create a new Foo",
        "operationId": "POST_foos",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Foo",
              "example": "can not resolve examples/Foo.json"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Foo.json"
            },
            "schema": {
              "$ref": "#/definitions/Foo"
            }
          }
        }
      }
    },
    "/foos/name/{name}": {
      "get": {
        "description": "List all Foos with a certain name",
        "operationId": "GET_foos-name-name",
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Foos.json"
            },
            "schema": {
              "items": {
                "$ref": "#/definitions/Foo"
              },
              "type": "array"
            }
          }
        }
      },
      "parameters": [
        {
          "description": "",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "string"
        },
        {
          "description": "",
          "in": "path",
          "name": "name",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/foos/{id}": {
      "delete": {
        "description": "Delete a Foo by id",
        "operationId": "DELETE_foos-id",
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Error.json"
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "get": {
        "description": "Get a Foo by id",
        "operationId": "GET_foos-id",
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Foo.json"
            },
            "schema": {
              "$ref": "#/definitions/Foo"
            }
          },
          "404": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Error.json"
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "parameters": [
        {
          "description": "",
          "in": "path",
          "name": "id",
          "required": true,
          "type": "string"
        }
      ],
      "put": {
        "description": "Update a Foo by id",
        "operationId": "PUT_foos-id",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/Foo",
              "example": "can not resolve examples/Foo.json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Foo.json"
            },
            "schema": {
              "$ref": "#/definitions/Foo"
            }
          },
          "404": {
            "description": "",
            "examples": {
              "application/json": "can not resolve examples/Error.json"
            },
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "description": "Each request must contain the headers necessary for basic authentication",
      "type": "basic"
    }
  },
  "swagger": "2.0"
}